/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove defualt margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core root defualts */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A element that don't have a class get defualt styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    width: 100%;
    height: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

@font-face {
    font-family: OrpheusPro;
    src: url("./assets/orpheus-pro.otf") format("opentype");
}

body {
    font-family: 'OrpheusPro', sans-serif;
}

.logo a{
    padding-top: 0.3rem;
    padding-right: 1rem;
    font-size: 2.1rem;
}

.flex {
    display: flex;
    gap: 1rem;
}

.container {
    padding: 2rem 4rem 2rem 4rem;
}

.prime-nav {
    list-style: none;
    padding: 0;
    margin: 2;
    flex-grow: 1;
}

a {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
}

.line {
    border-bottom: 1px solid black;
}

.align-right {
    margin-left: auto;
}

.grid {
    display: grid;
    row-gap: 3rem;
    column-gap: 5.5rem;
    grid-template-columns: 1fr 1fr;
}
.btn {
    display: none;
    margin-left: auto;
    padding-top: 1rem;
    cursor: pointer;
}

.half {
    width: max(50%, 750px);
    grid-template-columns: 1fr;
}

.half-work {
    width: 50%;
}

.art-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

img {
    aspect-ratio: 1.333;
    object-fit: cover;
}

.intro {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    color: black;
}
.intro-big {
    font-size: 2.2rem;
    color: black;
}
p {
    font-size: 1.1rem;
    color: black;
}
.bold {
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

.underline {
    text-decoration-line: underline;
}

.vertical-list, .first-name, .last-name {
    float: left;
    width: 50%;
    margin-bottom: 1.6rem;
}

.tail {
    font-size: 1rem;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.contact {
    padding-bottom: 1rem;
}

input, textarea {
    font-size: 1.1rem;
    padding: 10px;
    margin: 6px 0 4px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    color: #000;
    display: inline-block;
    width: 100%;
}

textarea {
    min-height: 100px;
}

.submit {
    border-width: 2px;
    border-style: solid;
    border-color:#000;
    padding: 1.3rem 2.5rem;
    background: transparent;
    font-size: 1.3rem;
    width: auto;
    margin: 1rem 0 2rem;
    cursor: pointer;
    transition: 250ms;
}

.submit:hover {
    background-color: #000;
    color: white;
}

.first-name {
    padding-right: 1rem;
}

.work-title {
    font-size: 2.3rem;
    padding: 1rem 0 1rem;
}

.work-author {
    font-style: italic;
    padding-top: 2rem;
}

.grid.work-one-column {
    grid-template-columns: 1fr;
}

.grid.work-two-column, .grid.work-one-column {
    gap: 2rem;
}

.grid.work-one-column img {
    aspect-ratio: 1.778;
}

.grid.work-two-column img {
    aspect-ratio: 0.75;
}

.prev-next {
    justify-content: space-between;
}

.flex-right {
    margin-left: auto;
}

.prev-next p{
    font-size: 2rem;
}

.prev-next svg {
    display: inline-block;
    height: 2.4rem;
    stroke: #000;
    stroke-width: 1px;
}


@media (max-width: 750px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .prime-nav{
        display: none;
        position: fixed;
        flex-direction: column;
        align-content: center;
        align-items: center;
        left: 50%;
        margin-left: -10px;
        padding-top: 30vh;
        inset: 0 0 0 0;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(0.5rem);
    }

    .align-right {
        margin: 0;
        padding: 0;
        padding-top: 1rem;
    }

    h1 {
        z-index: 1;
    }

    .btn {
        display: block;
        margin-left: auto;
        padding-top: 1rem;
        cursor: pointer;
        z-index: 1;
    }

    .active {
        display: flex;
    }

    .half, .half-work {
        width: 100%;
    }
}